<!DOCTYPE html>
<html>
  <head>
    <title>Logan Movie Times</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Logan Movie Times</h1>
    <p>Today's date: {{ .Today }}</p>
    {{ range $theater := .Theaters }}
      <section>
        <h2>{{ $theater.Name }}</h2>
        <ul>
          {{ range $screening := $theater.Screenings }}
            <li>{{ $screening.Title }} - opens {{ $screening.ReleaseDate }}</li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  </body>
</html>
