<!DOCTYPE html>
<html>
  <head>
    <title>Logan Movie Times</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Logan Movie Times</h1>
    <p>Today's date and time: {{ .Today.Format "January 2, 2006 - 3:04pm" }}</p>
    <main>
      {{ range $theater := .Theaters }}
      <section>
        <h2>{{ $theater.Name }}</h2>
        {{ range $movie := $theater.Screenings }}
        <h3>{{ $movie.Title }}</h3>
        <ul>
          {{ range $showtime := $movie.ShowTimes }}
          <li>{{ $showtime.Format "January 2, 3:04pm" }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </section>
      {{ end }}
    </main>
  </body>
  <style>
    main {
      display: flex;
      justify-content: space-between;
    }
  </style>
</html>
