<!DOCTYPE html>
<html>
  <head>
    <title>Logan Movie Times</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Logan Movie Times</h1>
    <p>
      Today's date and time: {{ .Today.Format "Monday, January 2, 2006 - 3:04pm"
      }}
    </p>
    <main>
      {{ range $theater := .Theaters }}
      <section>
        <h2>
          <a href="{{ $theater.Url }}" target="_blank"> {{ $theater.Name }} </a>
        </h2>
        {{ range $movie := $theater.Screenings }}
        <h3>{{ $movie.Title }}</h3>
        <ul>
          {{ range $showtime := $movie.ShowTimes }}
          <li data-og-date="{{ $showtime }}">
            {{ $showtime.Format "Monday, January 2, 3:04pm" }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </section>
      {{ end }}
    </main>
  </body>
  <style>
    main {
      display: flex;
      justify-content: space-between;
    }
    .today {
      background-color: crimson;
      font-weight: bold;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const listItems = document.querySelectorAll("li");
      const today = new Date();
      listItems.forEach((item) => {
        const date = new Date(item.getAttribute("data-og-date").trim());
        if (
          date.getFullYear() === today.getFullYear() &&
          date.getMonth() === today.getMonth() &&
          date.getDate() === today.getDate()
        ) {
          item.classList.add("today");
        }
      });
    });
  </script>
</html>
